html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* My code */
body {
    font: 16px/28px arial;
    background-color: #eaeaea;
    background-image: url(bc.png);
    color: #333;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: white;
    text-align: center;
    color: salmon;
    line-height: 30px;
    border-bottom: 3px solid salmon;
    z-index: 2;
}


.container {
    background-color: #fff;
    width: 980px;
    margin: 80px auto;
    position: relative;
}

.twiter {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: url(twitter1.png);
    background-position: -80px 0;
    text-indent: -9999px;
    position: absolute;
    top: -25px;
    right: -38px;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 330px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: 0 -220px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}

.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.main h2{
    font-size: 30px;
    font-weight: bold;
}

.main .penulis{
    font-size: 14px;
    margin-top: -5px;
    padding-top: 10px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main p {
    margin-bottom: 20px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    color: #333;
}

.sidebar img{
    float: left;
    padding-right: 10px;
}


.footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}
















