
/* style */


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans'; 
    /* height: 100vh; */
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-size: 16px;
    color: hsl(237, 12%, 33%);
}

.container{
    width: 800px;
    margin: 100px auto 110px;
    background-color: #fff;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'jumbo faq';
    overflow: hidden;
    gap: 0 20px;
    border-radius: 20px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -591px -299px;
    position: relative;
}


.jumbo{
    grid-area: jumbo;
    margin-left: -135px;
    overflow: hidden;
}

.faq{
    grid-area: faq;
}

h1{
    margin: 0 0 20px 0;
}

.question{
    cursor: pointer;
    border-bottom: 1px solid rgba(165, 165, 165, 0.3);
    position: relative;
    margin-top: 20px;
}

.question p{
    padding-bottom: 20px;
}

.question .arrow{
    width: 10px;
    height: 7px;
    right: 25px;
    top: 8px;
    position: absolute;
}

.active{
    display: none;
}

.bold {
    font-weight: bold;
}

.rotate{
    transform: rotate(180deg);
}

@media (max-width:800px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 'jumbo' 'faq';
        width: 70%;
        overflow: visible;
        /* text-align: center; */
        background-image: url(images/bg-pattern-mobile.svg);
        background-position: 85px 0px;
        padding: 30px;
        margin-top: 120px;
    }
    .container .jumbo{
        margin-top: -140px;
        margin-left: 52px;
        width: 70%;
        /* margin-bottom: 20px; */
    }
    .container h1{
        text-align: center;
    }
}