body{
    text-align: center;
}

.grid{
    margin: auto;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    display: grid;
    gap: 5px;
}

.grid img{
    cursor: pointer;
    transition: all 0.5s;
}

@media (max-width: 700px) {
    .grid{
        width: 80%;
    }
}