@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    height: 100vh;
}

button{
    margin: auto;
    width: 160px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #92BA92;
    color: #FFF;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.3) 0 0 14px;
}

button:hover{
    box-shadow: rgba(0,0,0,0.3) 0 0 24px;
}

.container-notif{
    position: fixed;
    bottom: 0;
    right: 0;
}

.notif{
    width: 160px;
    height: 60px;
    border-radius: 8px;
    background-color: #92BA92;
    color: #fff;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    box-shadow: rgba(0,0,0,0.3) 0 0 14px;
}